* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  font-family: 'Roboto';

}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  text-align: center;
  background-color: transparent;
  /* padding: 1rem; */
}

h1 {
  font-size: 4rem;
  opacity: 0;
  color: white;
  animation: 0.4s ease-out slideUp;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;

}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.religions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 2rem; */
}

.religions {
  margin: 1rem;
  text-align: center;
}

.religions a {
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid #333;
  border-radius: 5px;
}

.religions a:hover {
  background-color: #333;
  color: #fff;
}

footer {
  text-align: center;
  background-color: transparent;
  padding: 1rem;
}

.explore {
  text-align: center;
  background-color: transparent;
  /* padding: 1rem; */
}

.explore h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@keyframes slideUp{
  0%{
    transform: translateY(200%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
.religions{
  transition: 0.1s ease-in;
  animation: slideIn 0.6s ease-in;
}

.religions:hover{
  transform: scale(1.2);
  
}

@keyframes slideIn {
  0% {
    transform: translateX(-200%);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    transform: scale(1);
    opacity: 1;
  }
}

img{
  animation: 0.6s ease-in slideIn;
}
